/* EmailCapture Component Styles */

.global-btn.success,
.global-btn.error {
  cursor: default;
  pointer-events: none;
  opacity: 0.7;
}

.global-btn.success {
  background-color: #95C623 !important; /* Verde */
}

.global-btn.error {
  background-color: #dc3545 !important; /* Vermelho */
}
